<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Homepage</title>
<link rel="stylesheet" type="text/css" href="/CSS/home.css">
</head>
<body>
    <div class="navbar">
        <img src="/images/logo.jpg" alt="" height="55px" width="110px" style="border-radius: 50%;">
        <a href="register">Signup</a>
        <a href="index">Login</a>
    </div>
    
    
    
    
    
    <!-- Page Content -->
    <div class="Bg">
        <!-- <img src="https://media.giphy.com/media/JmnKTjTu2x5aouZ3nx/giphy.gif" width="500" ,height="700"> -->
<video src="/images/InShot_20230316_161601616.mp4" width="2500" height="1300" autoplay muted  loop></video>
    </div>
    <footer>
  <div class="container">
    <p>&copy; 2023 Cricket Fantasy League. All rights reserved.</p>
  </div>
</footer>
    
</body>

</html>