<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="logincss.css">

</head>

<body>

    <header><img src="logo.jpg" align="right" style="border-radius:50% ; height:45px;width:80px;"></header>
    <div class="login-box">
        <h2>Login</h2>
        <form>
            <div class="user-box">
                <input type="email" name="" class="form-control" required>
                <label>Username</label>
            </div>
            <div class="user-box">
                <input type="password" name="" required="">
                <label>Password</label>
            </div>
            <div class="hp">

                <div align="right">
                    <link href="forgetpwd.html">Forgot Password?</b>
                </div>

                <a href="home.html">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span> Sign In
                </a>
                <a href="newpage.html">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>SignUp</a>
        </form>
        </div>
</body>

</html>